version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - CORS_ORIGINS=${CORS_ORIGINS}
    volumes:
      - ./data:/app/data  # Persist SQLite DB
      - ./uploads:/app/backend/uploads # Persist Uploads
    restart: always
