@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Spectral:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 47% 31%;

    --card: 0 0% 100%;
    --card-foreground: 210 47% 31%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 47% 31%;

    --primary: 210 47% 31%; 
    --primary-foreground: 0 0% 100%;

    --secondary: 210 50% 97%; 
    --secondary-foreground: 210 47% 31%;

    --muted: 210 20% 96%;
    --muted-foreground: 210 10% 45%;

    --accent: 25 90% 48%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 210 47% 31%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 50% 5%;
    --foreground: 210 10% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
    background-image: url('https://customer-assets.emergentagent.com/job_6e125dd0-724d-42ad-90c4-2b3d56d9357e/artifacts/cigbvfjj_40%20Sem%20T%C3%ADtulo_20260206191423.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-primary-900;
  }
}
